@import url("styles/header.css");
@import url("styles/banner.css");

:root {
    --cor-defundo: #ebecee;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-defundo);
    
}

h1 {
    background-color: white;
}