@import url("styles/header.css");
@import url("styles/banner.css");

:root {
    --cor-defundo: #ebecee;
    --branco: #FFFFFF;
    --azul-degrade: linear-gradient(97.54 deg, #OO2F52 35,42%; #326589 165,37%);
    --laranja: #eb9e00;
    font: --principal;
}

body {
    background-color: var(--cor-defundo);
    
}

h1 {
    background-color: white;
}