.banners{
    background-color: var(--azul-degrade);
    color:var(--branco);
    text-align: center;
    pading:2,5em 2em;
}

.banners__titulo{
    font-size: 16px;
    font-weight: 700;
}

.banners__text{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-attachment: tranparent;
    border:1px solid var(--branco)
    color:var(--branco);
    border-radius: 24px;
    pading:1em;
    width:100%;

}